
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<script>



</script>
	<div class="main">
		<!-----start-main---->
		<!-- <div class="inset">
			<div class="social-icons">
				<div class="span">
					<a th:href="@{addDevice}"><i>添加通道
					</i> </a>
				</div>
				<div class="span1">
					<a th:href="@{updatesb}"><i>修改通道</i>
					</a>
				</div>
				<div class="clear"></div>
			</div>
		</div> -->
		<form action="./saveTower" accept-charset="utf-8" method="post">
			<h2>
				大楼信息配置
			</h2>
			
			<div class="lable-2">
				<input type="text" class="text" value="大楼编号"
					name="orgId" > 
			</div>
			<div class="lable-2">
				<input type="text" class="text" value="大楼名称"
					name="orgName" > 
			</div>
			<div class="lable-2">
				<input type="text" class="text" value="上位机编号"
					name="pospCode" >
			</div>
			
			<div class="lable-2">
				<input type="text" class="text" value="联网方式"
					name="netType" >
			</div>
			<div class="clear"></div>
			<br/>
			<div class="submit">
				<input type="submit"  value="下一步">
			</div>
			<div class="clear"></div>
		</form>
		<!-----//end-main---->
	</div>



</body>
</html>